<h1>My Saved Songs</h1>


<%= form_tag("/soundcloud", method: "get") do %>
<%= hidden_field :search, value: @query %>
<%= submit_tag "try another random song" %>
<% end %>

<br>
<%= @embed_info['html'].html_safe %>
<br>


<p>Find me in app/views/songs/show.html.erb</p>
