<h1>Songs#show</h1>

<p>Find me in app/views/songs/show.html.erb</p>
<!-- <%#= form_tag(search_path, :method => "get", id: "search-form") do %>
<%#= text_field_tag :search, params[:search], placeholder: "Search" %>
<%#= submit_tag "Search" %>
<% end %> -->
