
<div class="genre_search">
<%= form_tag("/soundcloud", method: "get") do %>
  <%= label_tag(:search, "Choose Genre:") %>
  <%= collection_select( :search, :search, Genre.all, :name, :name, :include_blank => true ) %>
</div>

  <%= submit_tag "Music Please!", :class => "submit_button"%>
<% end %>

<!-- <h1>Pick a random song... if you like it, save it for later!</h1> -->
