/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background: image-url("background3.png");
   background-size: cover;
   background-repeat: no-repeat;
   overflow: hidden;
   font-size: 10px;
   margin: 0;
   will-change: font-size;
   transition: font-size 1s linear;
   /*border: 1px solid gainsboro;*/

 }

 @media (max-width: 720px) {
   html {
     font-size: 9px;
   }
/* remove the image for small screens*/
   img {
     display: none;
   }
 }

 @media (max-width: 1280px) and (min-width: 721px){
   html {
     font-size: 12px;
   }
 }

.logo_container {
  display: inline-block;
  position:fixed;
  height: 30vh;
  width: 20vw;
  margin-left: 10  px;
}

 .logo {
   position: relative;
   height: 30vh;
   width: 20vw;
   margin-left: 10px;
 }

.container {
  width: 50vw;
  height: 75vh;
  color: gainsboro;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  margin: 20px auto;
  border: 1px solid gainsboro;
  border-radius: 30px;
}

/*.singleSound {
  width: 100%;
  height: 90%;
}*/

nav {
  // background-color: rgba(0,0,0,0.4);
  color: gainsboro;
  text-align: center;
  height: 15vh;
  width: 50vw;
  font-size: 20px;
  // border: 2px solid gainsboro;
  border-radius: 30px;
  position: relative;
  margin: 20px auto 70px auto;
  padding-top: 15px;
}

input[type="submit"] {
  outline: none;
}

.nav_wrapper {
  padding-left: 12vw;
  padding-bottom: 20vh;
  height: 5vh;
  width: 24vw;
  margin-top: 20px;
  // border: 1px solid white;
}

#nav_button p {
  position: absolute;
  top: -25px;
  color: gainsboro;
}

#nav_button a {
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 1.9rem;
    color: #F4A460;
    float: left;
    text-align: center;
    margin: 0.6vw;
}

#nav_button a:hover {
  text-decoration:overline;
  font-size: 2rem;
}


p {
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
  width: 20vw;
  height: 3vh;
  color: #F4A460;
}
