.login {
  padding-top: 150px;
}

.login {
  background-color: rgba(0,0,0,0.4);
  color: gainsboro;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
  margin: 40px auto 20px auto;
  height: 25vh;
  width: 25vw;
  border: 3px solid gainsboro;
  border-radius: 30px;
  transition: color 1.5s, border 1.5s, ease-in-out 0.2s;
}

.login:hover {
color: #F4A460;
border: 3px solid #F4A460;
}

#email, #password {
  background-color: rgba(0,0,0,0.4);
  width: 15vw;
  height: 20px;
  color: #F4A460;

}
