h1 {
  font-size: 1.7rem;
}

input {
  position: absolute;
	background-color: rgba(0,0,0,0.4);
  font-family: 'Bree Serif', serif;
  font-size: 1rem;
	width: 25vw;
  display: inline-block;
  padding: 10px;
  top: 70vh;
  left: 38vw;
  border: 2px solid gainsboro;
  border-radius: 30px;
  text-decoration: none;
  color: gainsboro;
  transition: color 1.5s, border 1.5s, ease-in-out 0.2s;
}

input:hover {
  color: #F4A460;
  border: 2px solid #F4A460;
}
