.song_container {
  // border: 1px dashed white;
  height: 45vh;
  width: 45vw;
  display: inline;
  vertical-align: middle;
}

.user_profile {
  background-color: rgba(0,0,0,0.4);
  height: 40vh;
  width: 45vw;
  border: 3px solid white;
  border-radius: 10px;
  overflow-x: hidden;
  margin: 10px auto 10px auto;
}

h5 {
  font-family: monospace;
  font-size: 20px;
  color: #F4A460;
}
